.container h1 {
  margin-bottom: 3rem;
}

.project-card-footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: auto;
}

.project-card-footer a {
  text-decoration: none;
}

.projects-grid .box {
  justify-content: space-between;
}

.project-card-footer .btn-pill-link {
  width: 100%;
  justify-content: center;
  text-align: center;
}

/* ===============
    TABLET
==================*/
@media (min-width: 768px) {
}

/* ===============
    DESKTOP
==================*/
@media (min-width: 1280px) {
  .section-header {
    display: flex;
    justify-content: space-between;
  }

  .project-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .project-card-footer .btn-pill-link {
    width: auto;
  }

  .project-card-footer .box-hobby {
    display: flex;
    width: fit-content;
    align-items: center;
  }
}
