.container h1 {
  margin-bottom: 3rem;
}

.projects-grid .box {
  justify-content: space-between;
}

/* ===============
    TABLET
==================*/
@media (min-width: 768px) {
}

/* ===============
    DESKTOP
==================*/
@media (min-width: 1280px) {
  .section-header {
    display: flex;
    justify-content: space-between;
  }

  .project-card-footer .btn-pill-link {
    width: auto;
  }
}
